/*----------------------------- Universal Styling -------------------------------*/
*{
  padding:0;
  margin: 0;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
  scroll-behavior: smooth;

}

/*----------------------------- Navigation -------------------------------*/
nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-top:35px;
  padding-left: 8%;
  padding-right: 8%;
}

.brand-name{
  color:white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span{
  color:#CC444B;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color:white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color:#CC444B;
}

.nav-cta{
  background-color:#CC444B;
  color:#FFFFFF;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding:10px 25px;
  border-radius: 25px;
  transition: transform .4s;
}

.nav-cta:hover{
  transform: scale(1.2);
}

/*----------------------------- Header -------------------------------*/

#header {
  height: 700px;
  background-image: url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  opacity: 0.1px;
}

#header-cta{
  max-width: 35%;
  position: absolute;
  left: 6.5rem;
  top: 12rem;
  font-size: 3.0rem;
}

#cta-text{
  max-width: 35%;
  position: absolute;
  left: 6.5rem;
  top: 28rem;
  font-size: 1.0rem;
}

.cta-button{
  background-color:#CC444B;
  color:#FFFFFF;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding:10px 25px;
  border-radius: 25px;
  transition: transform .4s;
  position: absolute;
  left: 12.5rem;
  top: 33rem;
}

.cta-button:hover{
  transform: scale(1.2);
}

/*----------------------------- Main Section -------------------------------*/

#main {
  height: 700px;
  background-color: #0B0D0F;
  border-top: 1px solid #C1C2C4;
}

#about-image {
  width: 18%;
  position: absolute;
  bottom: 2;
  left: 12.5rem;
  top:46rem;
}

.about-card{
  position: absolute;
  width: 440px;
  color: #FFf;
  padding: 50px 35px;
  left:3.5rem;
  top:62rem;
  border-top: 2px solid #CC444B;
}

.about-container{
  position: absolute;
  width:50%;
  left: 38rem;
  height: 102%;
  background-color: #FFf;
  border-radius: 25px;
  background: #EAEAEA;
  border: 1px solid #cc444b;
}

.download-resume{
  background-color:#CC444B;
  color:#FFFFFF;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding:10px 25px;
  border-radius: 25px;
  transition: transform .4s;
  position: absolute;
  left: 9.5rem;
  top: 17rem;
}

.download-resume:hover{
  transform: translateY(5px);
}


.download-resume:hover {
  background-color: #EAEAEA;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.082);
}


/*----------------------------- Skills Section -------------------------------*/
.skills_section{
  width: 100%;
  height: 100vh;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.skills_head{
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}
.skills_head h2{
  font-size: 30px;
  margin-bottom: -5px;
}
.skills_main{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
  font-weight: 500;
}
.skill_bar .bar{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #CC444B;
  border-radius: 25px;
}
.skill_bar .bar .html{
  width: 90%;
  animation: html 2s;
}
@keyframes html {
  0%{
      width: 0%;
  }100%{
      width: 90%;
  }
}
.skill_bar .bar .css{
  width: 85%;
  animation: css 2s;
}
@keyframes css {
  0%{
      width: 0%;
  }100%{
      width: 85%;
  }
}
.skill_bar .bar .sass{
  width: 80%;
  animation: sass 2s;
}
@keyframes sass {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
.skill_bar .bar .js{
  width: 80%;
  animation: css 2s;
}
@keyframes js {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
.skill_bar .bar .react{
  width: 75%;
  animation: react 2s;
}
@keyframes react {
  0%{
      width: 0%;
  }100%{
      width: 75%;
  }
}
.skill_bar .bar .node{
  width: 70%;
  animation: node 2s;
}
@keyframes node {
  0%{
      width: 0%;
  }100%{
      width: 70%;
  }
}
.skill_bar .bar .express{
  width: 65%;
  animation: express 2s;
}
@keyframes express {
  0%{
      width: 0%;
  }100%{
      width: 65%;
  }
}
.skill_bar .bar .mongo{
  width: 60%;
  animation: mongo 2s;
}
@keyframes mongo {
  0%{
      width: 0%;
  }100%{
      width: 60%;
  }
}



/*----------------------------- Contact Section-------------------------------*/

#contact {
  height: 700px;
  background-color: black;
}

/*----------------------------- Services Section -------------------------------*/

#services {
  height: 700px;
  background-color: orange;
}

/*----------------------------- Footer Section -------------------------------*/

#footer {
  height: 100px;
  background-color: green;
}

