/*----------------------------- Universal Styling -------------------------------*/
*{
  padding:0;
  margin: 0;
  list-style: none;
}

/*----------------------------- Navigation -------------------------------*/
nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-top:35px;
  padding-left: 8%;
  padding-right: 8%;
}

.brand-name{
  color:white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span{
  color:#CC444B;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color:white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color:#CC444B;
}

.nav-cta{
  background-color:#CC444B;
  color:#FFFFFF;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding:10px 25px;
  border-radius: 25px;
  transition: transform .4s;
}

.nav-cta:hover{
  transform: scale(1.2);
}

/*----------------------------- Header -------------------------------*/

#header {
  height: 700px;
  background-image: url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  opacity: 0.1px;
}

#header-cta{
max-width: 35%;
position: absolute;
left: 6.5rem;
top: 12rem;
font-size: 3.0rem;
}

#cta-text{
max-width: 35%;
position: absolute;
left: 6.5rem;
top: 28rem;
font-size: 1.0rem;
}

.cta-button{
  background-color:#CC444B;
  color:#FFFFFF;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  padding:10px 25px;
  border-radius: 25px;
  transition: transform .4s;
  position: absolute;
  left: 12.5rem;
  top: 33rem;
}

.cta-button:hover{
  transform: scale(1.2);
}

/*----------------------------- Main Section -------------------------------*/

#main {
  height: 700px;
  background-color: #0B0D0F;
  border-top: 1px solid #C1C2C4;
}

#about-image {
  width: 18%;
  position: absolute;
  bottom: 2;
  left: 16.5rem;
  top:48rem;
}

.about-card{
  position: absolute;
  width: 440px;
  color: #FFf;
  padding: 50px 35px;
  left:6.5rem;
  top:63rem;
  border-top: 1px solid #CC444B;
}
/*----------------------------- Skills Section -------------------------------*/



/*----------------------------- Contact Section -------------------------------*/--------*/

#contact {
  height: 700px;
  background-color: black;
}

/*----------------------------- Services Section -------------------------------*/

#services {
  height: 700px;
  background-color: orange;
}

/*----------------------------- Footer Section -------------------------------*/

#footer {
  height: 100px;
  background-color: green;
}

